@CHARSET "ISO-8859-1";

body {
	background-color: #87CEEB;
	font-size: 11px;
}

.container {
	width: 95%;
}

#maindiv {
	padding: 10px;
	margin-top: 5px;
	background-color: white;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#header {
	height: 50px;
	width: 100%;
	background-color: white;
}

.ivory-theme-color{
	color: #428BCA;
}

a.edit-link,a.edit-link:hover {
	cursor: pointer;
	color: white;
}

.ivory-email-link{
	display: inline-block;
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.ivory-input-xsm{
	height: 25px;
}

.ivory-data-label{
	font-weight: normal;
}


.center-text{
	text-align: center;
}
