<form class="form-horizontal" name="doctorform" id="doctorform" ng-submit="submitForm()">
	<div class="col-lg-6">
		<div class="form-group">
			<label class="control-label col-lg-3" for="fname">First Name</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" name="fname" id="fname" placeholder="First Name" ng-model="doctor.fname" required>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="email">Email</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" id="email" name="email" placeholder="Email" ng-model="doctor.email">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="dob">Date of Birth</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" id="dob" name="dob" placeholder="YYYY-MM-DD" autocomplete="off" ng-model="doctor.dob">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="phone">Phone</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" id="phone" name="phone" placeholder="Phone" autocomplete="off" ng-model="doctor.phone">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="mobile">Mobile</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" id="mobile" name="mobile" placeholder="Mobile" autocomplete="off" ng-model="doctor.mobile">
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group">
			<label class="control-label col-lg-3" for="lname">Last Name</label>
			<div class="col-lg-8">
				<input class="form-control" type="text" id="lname" name="lname" placeholder="Last Name" ng-model="doctor.lname">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="gender">Gender</label>
			<div class="btn-group col-lg-8">
				<label class="radio-inline"> <input type="radio"
					name="gender" ng-model="doctor.gender" value="M">M
				</label> <label class="radio-inline"> <input type="radio"
					name="gender" ng-model="doctor.gender" value="F">F
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-lg-3" for="address">Address</label>
			<div class="col-lg-8">
				<textarea class="form-control" id="address" name="address" required ng-model="doctor.address"></textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-10 col-lg-2">
			<button id="submit" type="submit" class="btn btn-primary btn-sm">Save</button>
			<button type="reset" class="btn btn-primary btn-sm">Reset</button>
		</div>
	</div>
</form>