<form class="form-horizontal" name="appointmentform"
	id="appointmentform"
	ng-submit="submitForm()">
	<div class="col-lg-4">
		<div class="form-group">
			<label class="control-label col-lg-2" for="appointmentdate">Date</label>
			<div class="col-lg-10">
				<input class="form-control input-sm" type="datetime-local" placeholder="" name="appointmentdate"
					id="appointmentdate" placeholder="Appointment Date"
					ng-model="appointment.appointmentdate" required>
			</div>
		</div>
		
	</div>
	<div class="col-lg-4">
		<div class="form-group">
			<label class="control-label col-lg-2" for="appointmentreason">Reason</label>
			<div class="col-lg-10">
				<input class="form-control input-sm" type="text" id="appointmentreason"
					name="appointmentreason" placeholder="Reason for Appointment"
					ng-model="appointment.appointmentreason">
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group">
			<label class="control-label col-lg-2" for="appointmentreason">Doctor</label>
			<div class="col-lg-10">
				<select required class="form-control input-sm" ng-model="appointment.doctor" ng-options="doctor.fname + ' ' + doctor.lname for doctor in doctors">
					<option value="">Select</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-10 col-lg-2">
			<button id="submit" type="submit" class="btn btn-primary btn-xs">Save</button>
			<button type="reset" class="btn btn-primary btn-xs">Reset</button>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Appointment History</div>
		<div class="panel-body" id="appointments">
			<div id="appointment-grid" ui-grid="gridOptions" ui-grid-pagination class="grid"></div>
			<nav>
			  <ul class="pager">
			    <li class="previous" ng-class="{disabled: gridApi.pagination.getPage() == 1}"><a href="" ng-click="gridApi.pagination.previousPage()"><span aria-hidden="true">&larr;</span> Older</a></li>
			    <li class="next" ng-class="{disabled: gridApi.pagination.getPage() == gridApi.pagination.getTotalPages()}"><a href="" ng-click="gridApi.pagination.nextPage()">Newer <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav>			
		</div>
	</div>
</form>