<div class="row">
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Oct, 14 2014
		  </div>
		  <div class="panel-footer">Last Visit</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Oct, 14 2014
		  </div>
		  <div class="panel-footer">Next Appointment</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Root Canal
		  </div>
		  <div class="panel-footer">Last Treatment</div>
		</div>
	</div>
	
	<div class="col-xs-6 col-md-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Rs 300
		  </div>
		  <div class="panel-footer">Dues</div>
		</div>
	</div>
	
	
</div>