<script type="text/javascript">

</script>
<div>
	<div class="col-lg-2">
		<div class="list-group" ng-init="details.view = 1; dashboard = 1">
			<a href="" ng-click="details.view = 1;dashboard = 1; appointments = 0; treatments = 0"
				ng-model="dashboard" class="list-group-item" ng-class="{active: dashboard}">Dashboard</a>
			<a href="" ng-click="details.view = 2; dashboard = 0; appointments = 1; treatments = 0"
				ng-model="appointments" ng-value="2" class="list-group-item" ng-class="{active: appointments}">Appointments</a>
			<a href="" ng-click="details.view = 3; dashboard = 0; appointments = 0; treatments = 1"
				ng-model="treatments" ng-value="3" class="list-group-item" ng-class="{active: treatments}">Treatments</a>
		</div>
	</div>
	<div class="col-lg-8" ng-if="details.view == 1">
		<div class="panel panel-primary">Dashboard</div>
	</div>
	<div class="col-lg-8" ng-if="details.view == 2" ng-controller="PatientTreatmentController">
		<ng-include src="'resources/partials/patient_appointment.html'"></ng-include>
	</div>
	<div class="col-lg-8" ng-if="details.view == 3">
		<ng-include src="'resources/partials/patient_treatment_history.html'"></ng-include>
	</div>
	<!-- <div class="col-lg-8" ng-switch on="details.view">
		<div class="panel panel-primary" ng-switch-default>Dashboard</div>
		<div ng-switch-when="2">
			<ng-include src="'resources/partials/patient_appointment_history.html'"></ng-include>
		</div>
	</div> -->
	<div class="col-lg-2">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body" id="photo"></div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="">Personal Info</span>
				<a href="#/patient/edit/{{patient.id}}" class="edit-link" title="Edit"><i
					class="glyphicon glyphicon-pencil pull-right"></i></a>
			</div>
			<div class="panel-body" id="personalinfo">
				<address>
					<strong>{{patient.fname}}&nbsp;{{patient.lname}}</strong><br> <br>
					{{patient.address}}<br> Gender: {{patient.gender}}<br> <strong>Mobile: </strong>{{patient.mobile}}<br>
					<strong>Phone: </strong>{{patient.phone}}<br>
					<strong>DOB: </strong>{{patient.dob | date: 'longDate'}}<br>
					<a href="mailto:{{patient.email}}"><span class="ivory-email-link">{{patient.email}}</span></a><br>
				</address>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="">Shortcuts</span> <a href="#" class="edit-link"
					title="Edit"><i class="glyphicon glyphicon-pencil pull-right"></i></a>
			</div>
			<div class="panel-body" id=""></div>
		</div>
	</div>
</div>
