<div class="row">
	<div class="col-lg-10">
		<div id="user_toolbar" class="pull-right">
			<a href="#" data-toggle="modal" data-target="#treatment_plan_dialog"><span
				class="glyphicon glyphicon-plus-sign blue"></span></a> <a href="#"><span
				class="glyphicon glyphicon-minus-sign blue"></span></a>
		</div>
		<div class="row"></div>
		<div class="">
			<div id="treatment_history_grid" class="ivory-grid"></div>
		</div>
		<div>
			<div id="new_treatment_grid" class="ivory-grid"></div>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body" id="photo"></div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title">Personal Info</span> <a href="#"
					class="edit-link" title="Edit"><i
					class="glyphicon glyphicon-pencil pull-right"></i></a>
			</div>
			<div class="panel-body" id="personalinfo">{{patientid}}</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title">Address</span> <a href="#"
					class="edit-link" title="Edit"><i
					class="glyphicon glyphicon-pencil pull-right"></i></a>
			</div>
			<div class="panel-body" id="address"></div>
		</div>
	</div>
</div>