<script type="text/javascript">

</script>
<div>
	<div class="col-lg-2">
		<div class="list-group">
			<a href="javascript:void();" ng-click="details.view = 1"
				ng-model="details.view" ng-value="1" class="list-group-item">Dashboard</a>
			<a href="javascript:void();" ng-click="details.view = 2"
				ng-model="details.view" ng-value="2" class="list-group-item">Appointments</a>
		</div>
	</div>
	<div class="col-lg-8" ng-switch on="details.view">
		<div class="panel panel-primary" ng-switch-default>Dashboard</div>
		<div ng-switch-when="2">
			<ng-include src="'resources/partials/patient_appointment_history.html'"></ng-include>
		</div>
	</div>
	<div class="col-lg-2">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body" id="photo"></div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title">Personal Info</span> <a
					href="#/patient/edit/{{patient.id}}" class="edit-link" title="Edit"><i
					class="glyphicon glyphicon-pencil pull-right"></i></a>
			</div>
			<div class="panel-body" id="personalinfo">
				<address>
					{{patient.fname}}&nbsp;{{patient.lname}}<br> <br>
					{{patient.address}}<br> Gender: {{patient.gender}}<br> <strong>Mobile:</strong>{{patient.mobile}}<br>
					<strong>Phone:</strong>{{patient.phone}}<br> <a
						href="mailto:{{patient.email}}">{{patient.email}}</a><br>
				</address>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title"></span> <a href="#" class="edit-link"
					title="Edit"><i class="glyphicon glyphicon-pencil pull-right"></i></a>
			</div>
			<div class="panel-body" id=""></div>
		</div>
	</div>
</div>