<div class="panel panel-primary">
	<div class="panel-heading">Treatment History</div>
	<div class="panel-body" id="appointments">
		<!-- Table -->
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Start Date</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Paid</th>
					<th>Balance</th>
				</tr>
			</thead>
			<tbody ng-repeat="treatment_plan in patient.treatmentplans">
				<tr ng-init="plan_index=$index" ng-click="selectRow($index)"
					class="ivory-expandable-row"
					ng-class="{rowselected: dataCollapseFlags[$index]}">
					<td><span class="glyphicon glyphicon-plus ivory-theme-color"></span></td>
					<td>{{treatment_plan.date | date: 'longDate'}}</td>
					<td>{{treatment_plan.name}}</td>
					<td>{{treatment_plan.amount}}</td>
					<td>{{treatment_plan.paid}}</td>
					<td>{{treatment_plan.balance}}</td>
				</tr>
				<tr ng-switch on="dataCollapseFlags[$index]">
					<td colspan="8" ng-switch-when="true">
						<div>
							<div class="center-block" style="width: 85%;">
								<table class="table table-condensed table-hover inner-table">
									<thead>
										<tr>
											<th>Sl No.</th>
											<th>Description</th>
											<th>Date</th>
											<th>Amount</th>
											<th>Paid</th>
											<th>Balance</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="detail in patient.treatmentplans[$index].details"
											ng-click="showDetail(plan_index, $index)"
											ng-class="{rowselected: detailCollapseFlags[$index]}">
											<td>{{$index + 1}}</td>
											<td>{{detail.description}}</td>
											<td>{{detail.date}}</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="btn-group">
			<button title="New treatment plan" type="button"
				class="btn btn-default btn-xs" ng-click="addNew()">
				<span class="glyphicon glyphicon-plus-sign ivory-theme-color"></span>
			</button>
			<button type="button" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-minus-sign ivory-theme-color"></span>
			</button>
		</div>
		<div class="pull-right">			
			<ul class="pagination footer-pagination">
				<li><a href ng-click="showPage(page - 1)">&laquo;</a></li>
				<li><a href="" ng-click="showPage(page + 1)">&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>

<div ng-switch on="lower_pane_view">
	<!-- Hide this when the hide_details flag in the controller is set <div ng-switch-when="1" ng-hide="hide_details" class="panel panel-default ng-hide">-->
	<div ng-switch-when="1" class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-lg-1">Date</label>
					<div class="col-lg-3">
						<label class="ivory-data-label">{{selected_detail.date}}</label>
					</div>
					<label class="col-lg-1">Description</label>
					<div class="col-lg-3">
						<label class="ivory-data-label">{{selected_detail.description}}</label>
					</div>
					<label class="col-lg-1">Remarks</label>
					<div class="col-lg-3">
						<label class="ivory-data-label">{{selected_detail.remarks}}</label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-1">Doctor</label>
					<div class="col-lg-3">
						<label class="ivory-data-label">{{selected_detail.doctor}}</label>
					</div>
				</div>
	
			</form>
		</div>
	</div>
	
	<div ng-switch-when="2" class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal" role="form" ng-submit="saveNewTreatmentPlan()">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="start-date" class="control-label col-lg-3">Start Date</label>
						<div class="col-lg-6">
						<input type="date" class="form-control input-sm" id="start-date"
							placeholder="Start Date" ng-model="treatmentplan.date">
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="treatment-plan-name" class="control-label col-lg-5">Treatment Plan Name</label>
						<div class="col-lg-7">
						<input type="text" class="form-control input-sm" id="treatment-plan-name"
							placeholder="Treatment Plan Name" ng-model="treatmentplan.name">
						</div>
					</div>
				</div>				
				<div class="form-group">
					<div class="col-lg-offset-10 col-lg-2">
						<button id="submit" type="submit" class="btn btn-primary btn-xs">Save</button>
						<button type="reset" class="btn btn-primary btn-xs">Reset</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-switch-when="3" class="panel panel-default">
		<ng-include src="'resources/partials/treatment_details.html'"></ng-include>
	</div>	
</div>


